@font-face {
    font-family: 'HelveticaInseratLT';
    src: url('../fonts/HelveticaInseratLT-Roman.eot'); /* IE9 Compat Modes */
    src: url('../fonts/HelveticaInseratLT-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/HelveticaInseratLT-Roman.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/HelveticaInseratLT-Roman.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/HelveticaInseratLT-Roman.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/HelveticaInseratLT-Roman.svg#svgFontName') format('svg'); /* Legacy iOS */
}



*, *:before, *:after {
    box-sizing: border-box;
}


:root {
    --section-bg-color: #ccc;
    --bgc: #515151;
    --aside-bg-color: #a3a3a3;
    --accordion: #a4a4a4;

}

htlm{
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: Arial;
    font-size: 16px;
}

.wrapper{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    color: #fff;
}

li{
    list-style-type: none;
}

/***HEADER***/

header{
    background-color: #cccccc;
    height: 93px;
    position: relative;
    margin-bottom: 10px;
}

/***Navigation***/


nav{
    float: left;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 10px;
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: url(../images/menu-icon.png);
}

a:hover#menu-icon {
	background-color: #444;
	border-radius: 4px 4px 0 0;
}

.navigation {
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
}

.navigation li {
    float: left;
    margin-right: 5px;
}

.navigation li:last-of-type{
    margin-right: 0;
}

.navigation ul li{
    margin-right: 0;
}

.navigation li a, .link{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    background-color: #666666;
}

.navigation a:hover {
    background-color: #000;
}


/******Language-Flags*******/

.language{
    float: left;
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 30px;
}

.language ul{
    float: right;
    width: 88px;
    padding-left: 0px;
}

.language li{
    float: left;
    margin-left: 5px;
}

.lang{
    text-decoration: none;
    /*width: 22px;
    height: 14px;*/
    text-indent: -9999px;
    display: block;
    width: 24px;
    height: 16px;
}

.lang:focus{
    opacity: 0.6;
    border: 1px solid #000;
}

.lang:hover{
    opacity: 0.6;
    border: 1px solid #000;
}

.lang.eng{
    background-image: url("../images/Clean_GB-flag.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.lang.fre{
    background-image: url("../images/Clean_FR-flag.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.lang.germ{
    background-image: url("../images/Clean_GER-flag.png");
    background-repeat: no-repeat;
    background-size: 100%;
}


/**********MAIN********/

/***LEFT SIDE****/

.container {
    overflow: hidden;
    height: 760px;
    margin-bottom: 10px;
}

section{
    width: 70%;
    background-color:#ccc;
    background-color: var(--section-bg-color);
    float: left;
    padding: 10px;
    height: 100%;
}

.side-left, .side-right{
    background-color:#515151;
    background-color: var(--bgc);
    padding: 20px;
    height: 100%;
}

.title h1{
    font-family: HelveticaInseratLT;
    font-size: 3em;
    margin: 0;
}

hr {
    display: block;
    border: 0;
    border-top: 1px solid #000;
    padding: 10px;
    box-shadow: 0px 1px #7a7a7a;
    margin: 16px -10px;
    padding: 0;
}

.table{
    height: 200px;
    text-align: center;
    background-color: #000;
}

.table p{
    padding: 83px;
}

/***RIGHT SIDE***/

aside{
    width: 30%;
    float: left;
    background-color: #a3a3a3;
    background-color: var(--aside-bg-color);
    padding: 10px;
    height: 100%;
}

/*Accordion*/

.accordion {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;    
}

.active, .accordion:hover {
    background-color: #a4a4a4;
    background-color: var(--accordion);
}

.accordion:after {
    content: '\f0da';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-family: "Font Awesome 5 Free";
}

.active:after {
    content: "\f0dd";
}

.panel {
    padding: 0 18px;
    background-color: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 5px;
    color: white;
}

/*********LOGO*********/

.panel-logo{
    position: fixed;
    top: 9%;
    left: 0;
}

/***FOOTER**/

footer{
    color: #515151;
    overflow: hidden;
    background-color: #ccc;
    background-color: var(--section-bg-color);
    padding: 10px;
}

.panel-left{
    float: left;
    width: 50%;
}

.menu-footer{
    float: right;
}

.menu-footer li{
    float: left;
    margin-right: 20px;
}

.menu-footer li:last-of-type{

    margin-right: 0;
}

.menu-footer a{
    color: #515151;
}

.panel-center{
    float: left;
    width: 50%;
    padding-right: 20px;
}

/*RESPONSIVE*/

@media only screen and (max-width: 960px) {
    .wrapper{
        width: 100%!important;
    }
    
    .container{
        width: auto;
        height: auto;
    }
    
    section,
    aside {
        
        width: auto;
    }
   
    .panel-left{
        display: none;
    }
    
    .panel-center{
        float: none;
        width: 100%;
    }
    
    .menu-footer, .menu-footer li{
        float: none;
    }
    .menu-footer ul{
        padding-left: 0px;
    }
    
    .panel-logo{
        display: none;
    }
    
	#menu-icon {
		display:inline-block;
	}

	nav ul, nav:active ul { 
		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		width: 50%;
		border-radius: 4px 0 4px 4px;
	}

	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	nav:hover ul {
		display: block;
        min-width: 165px;
        padding: 0;
	}
}
    
